body {
  background-color: rgb(150, 191, 228);
  background: linear-gradient(5deg, #036564, #033649);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  min-height: 100vh;
  margin: 0;
  padding: 20px;
  box-sizing: border-box;
}

input[name='city'] {
  border-radius: 4px;
  outline: none;
  border: none;
  padding: 6px 8px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: rgb(42, 47, 46);
}

.time-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
}

.time {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 52px;
  font-family: sans-serif;
  font-size: 20px;
}

.card {
  display: inline-block;
  background: linear-gradient(5deg, #556270, #c44d58);
  width: 200px;
  height: 250px;
  border: none;
  border-radius: 14px;
  padding: 8px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

.current-weather {
  font-family: 'Courier New', Courier, monospace;
  font-size: 28px;
  font-weight: 500;
}

#btn-submit {
  padding: 6px 12px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  border: none;
  outline: none;
  border-radius: 4px;
}
